<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="Anil z" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SITE TITLE -->
    <title>Live Stream</title>
    <!-- Favicon Icon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.png"
    />
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
      rel="stylesheet"
    />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="/assets/css/themify-icons.css" />
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <!--- owl carousel CSS-->
    <link
      rel="stylesheet"
      href="/assets/owlcarousel/css/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css" />
    <link
      rel="stylesheet"
      href="/assets/owlcarousel/css/owl.theme.default.min.css"
    />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <link rel="stylesheet" id="layoutstyle" href="/assets/color/theme.css" />

    <script>
      var sc_project = 11981757;
      var sc_invisible = 1;
      var sc_security = "35d2687e";
      var sc_https = 1;
    </script>
    <script src="https://www.statcounter.com/counter/counter.js" async></script>
  </head>

  <body>
    <!-- LOADER -->
    <div id="preloader">
      <span class="spinner"></span>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <!-- START HEADER -->
    <%- include('partials/header') %>
    <!-- END HEADER -->
    <!-- END HEADER -->

    <!--====== PAGE BANNER PART START ======-->

    <section
      id="page-banner"
      class="pt-105 pb-110 bg_cover"
      data-overlay="8"
      style="background-image: url(/assets/images/page-banner-1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-banner-cont">
              <h2>Login</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Login
                  </li>
                </ol>
              </nav>
            </div>
            <!-- page banner cont -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <section
      class="pb-0 background_bg bg_blue_dark"
      data-img-src="/assets/images/pattern_bg.png"
    >
      <div class="container">
        <div
          class="col-lg-12 col-md-7"
          style="width: 1000px; margin-left: 40px"
        >
          <div
            class="register_form radius_all_10 text_white padding_eight_all animation"
            data-animation="fadeInLeft"
            data-animation-delay="0.02s"
          >
            <div class="heading_s1 heading_light text-center">
              <h2><span class="text_center">My Profile</span></h2>
            </div>

            <form
              id="detailForm"
              name="enq"
              class="pt-md-2 form_transparent"
              enctype="multipart/form-data"
              method="post"
              action="/viewer-details-add"
            >
              <div class="row">
                <div class="col-sm-12">
                  <div id="alert-msg" class="alert-msg text-center"></div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    name="firstName"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    name="lastName"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group col-sm-6">
                  <label for="sex">Sex</label>
                  <select name="sex" class="form-control">
                    <option selected>Choose Option</option>

                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                  </select>
                </div>

                <div class="col-md-12 text-lg-center">
                  <button
                    type="submit"
                    id="submitDetails"
                    title="Submit Your Message!"
                    class="btn btn-default"
                    name="submit"
                    value="Submit"
                  >
                    Submit Details
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      function validateForm() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var sex = document.getElementById("sex").value;
        var nativeLanguage = document.getElementById("nativeLanguage").value;
        var contentCategory = document.getElementById("contentCategory").value;
        var dob = document.getElementById("dob").value;
        var governmentIdNo = document.getElementById("governmentIdNo").value;
        var country = document.getElementById("country").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;
        var postalCode = document.getElementById("postalCode").value;
        var address = document.getElementById("address").value;
        var companyName = document.getElementById("companyName").value;
        var taxNo = document.getElementById("taxNo").value;
        var businessRegistrationNo = document.getElementById(
          "businessRegistrationNo"
        ).value;
        var alert = document.getElementById("alert-msg");

        if (firstName.trim() === "") {
          alert.innerText = "First Name cannot be empty.";
          event.preventDefault;
        }
        if (lastName.trim() === "") {
          alert.innerText = "Last Name cannot be empty.";
          event.preventDefault;
        }
        const gender= ["Male","Female","Others"]
        if (sex.trim() === "" || !gender.includes(sex)) {
          alert.innerText = "Please select Sex.";
          event.preventDefault;
        }
        if (nativeLanguage.trim() === "") {
          alert.innerText = "Please select Native Language.";
          event.preventDefault;
        }
        if (contentCategory.trim() === "") {
          alert.innerText = "Please select Content Category.";
          event.preventDefault;
        }
        if (dob.trim() === "") {
          alert.innerText = "Date Of Birth cannot be empty.";
          event.preventDefault;
        }
        if (governmentIdNo.trim() === "") {
          alert.innerText = "Number of Your ID or Passport cannot be empty.";
          event.preventDefault;
        }
        if (country.trim() === "") {
          alert.innerText = "Please select Country.";
          event.preventDefault;
        }
        if (city.trim() === "") {
          alert.innerText = "City cannot be empty.";
          event.preventDefault;
        }
        if (state.trim() === "") {
          alert.innerText = "State cannot be empty.";
          event.preventDefault;
        }
        if (postalCode.trim() === "") {
          alert.innerText = "Postal code cannot be empty.";
          event.preventDefault;
        }
        if (address.trim() === "") {
          alert.innerText = "Address cannot be empty.";
          event.preventDefault;
        }
        if (companyName.trim() === "") {
          alert.innerText = "Company Name cannot be empty.";
          event.preventDefault;
        }
        if (taxNo.trim() === "") {
          alert.innerText = "VAT number or Tax ID cannot be empty.";
          event.preventDefault;
        }
        if (businessRegistrationNo.trim() === "") {
          alert.innerText = "Business Registration cannot be empty.";
          event.preventDefault;
        }
        alert.innerText = "";
      }
    </script>

    <!-- END SECTION CALL TO ACTION -->
    <section class="bg_default small_pt small_pb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="text_white cta_section">
              <div class="medium_divider d-block d-md-none"></div>
              <div class="heading_s1 heading_light">
                <h2>Start Your Live Streaming Today!</h2>
              </div>
              <p>
                If you are going to use a passage of embarrassing hidden in the
                middle of text
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-md-right">
              <li>
                <a class="nav-link" href="login.html">Login</a>
              </li>
            </div>
            <div class="medium_divider d-block d-md-none"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SECTION CALL TO ACTION -->

    <!-- START FOOTER -->
    <footer class="bg-dark footer_dark">
      <div class="top_footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-8 mb-4 mb-lg-0">
              <div class="footer_logo">
                <a href="index.html"
                  ><img src="/assets/images/logo.png" alt=""
                /></a>
              </div>
              <p>
                Phasellus blandit massa enim. elit id varius nunc. Lorem ipsum
                dolor sit amet, consectetur industry.
              </p>
              <ul class="contact_info contact_info_light list_none">
                <li>
                  <i class="fa fa-map-marker-alt"></i>
                  <address>Califonia Street san Francisco, CA</address>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <a href="mailto:info@sitename.com">info@sitename.com</a>
                </li>
                <li>
                  <i class="fa fa-mobile-alt"></i>
                  <p>+ 457 789 789 65</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mb-4 mb-lg-0">
              <h6 class="widget_title">Useful Links</h6>
              <ul class="list_none widget_links links_style1">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="content-creator.html">Content Creator</a></li>
                <li><a href="viewer.html">Viewer</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="app.html">App</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6">
              <h6 class="widget_title">Subscribe Newsletter</h6>
              <p>
                Contrary to popular belief of lorem Ipsm Latin amet ltin from
                consectetur industry.
              </p>
              <div class="newsletter_form mb-4">
                <form>
                  <input
                    type="text"
                    class="form-control"
                    required=""
                    placeholder="Email Address"
                  />
                  <button
                    type="submit"
                    title="Subscribe"
                    class="btn btn-default btn-sm"
                    name="submit"
                    value="Submit"
                  >
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <h6 class="widget_title">Follow Us</h6>
              <ul
                class="list_none social_icons radius_social social_white social_style1"
              >
                <li>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-googleplus"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-youtube-outline"></i></a>
                </li>
                <li>
                  <a href="#"><i class="ion-social-instagram-outline"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer bg_black">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p class="copyright m-md-0 text-center text-md-left">
                © 2024 All Rights Reserved by Office on live.
              </p>
            </div>
            <div class="col-md-6">
              <ul class="list_none footer_link text-center text-md-right">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none"
      ><i class="ion-ios-arrow-up"></i
    ></a>

    <!-- Latest jQuery -->
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui -->
    <script src="/assets/js/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="/assets/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="/assets/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imagesloaded js -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope min js -->
    <script src="/assets/js/isotope.min.js"></script>
    <!-- jquery.parallax-scroll js -->
    <script src="/assets/js/jquery.parallax-scroll.js"></script>
    <!-- scripts js -->
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>
